@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@500;600&family=Roboto:wght@300;700&family=Open+Sans:wght@400;600&family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary: theme('colors.secondary');
}

body {
  color: var(--foreground);
  background: var(--background);
}



/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 1px;
}


@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}